@charset "utf-8";

@media screen and (max-width:360px){
	
	
table#example th:nth-child(2){
   display: none;
}

table#example td:nth-child(2){
   display: none;
}

table#example th:nth-child(4){
   display: none;
}

table#example td:nth-child(4){
   display: none;
}

table#example th:nth-child(7){
   display: none;
}

table#example td:nth-child(7){
   display: none;
}
table#example th:nth-child(8){
   display: none;
}

table#example td:nth-child(8){
   display: none;
}

table#example th:nth-child(9){
   display: none;
}

table#example td:nth-child(9){
   display: none;
}
}

@media screen and (max-width:640px){
}

@media screen and (max-width:320px){
	
	
table#example th:nth-child(2){
   display: none;
}

table#example td:nth-child(2){
   display: none;
}

table#example th:nth-child(4){
   display: none;
}

table#example td:nth-child(4){
   display: none;
}

table#example th:nth-child(7){
   display: none;
}

table#example td:nth-child(7){
   display: none;
}
table#example th:nth-child(8){
   display: none;
}

table#example td:nth-child(8){
   display: none;
}

table#example th:nth-child(9){
   display: none;
}

table#example td:nth-child(9){
   display: none;
}
}
