@charset "utf-8";

.inforight {
	position: absolute;
	clear: none;
	margin-top: 18em;
	left: 45%;
	width: 55%;
	float: none;
}
#Datepicker1 {
	position: absolute;
	left: 45%;
	clear: none;
	width: 55%;
	float: none;
}
div.ui-input-text {
    width: 70% !important
}
#insertform .inforight img {
	float: right;
	padding-left: 26px;
	position: relative;
	left: -24%;




}
div #Datepicker1 #title {
	padding-left: 58px;
	color: #9E2527;
}
#showPhoto {
	border: thin solid #000000;
	position: static;

}
.wrapper {
	position: absolute;
	top: 0%;
	margin-left: 12%;
}

<style>
div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */ 
}
div.description{
	position: absolute; /* absolute position (so we can position it where we want)*/
	bottom: 0px; /* position will be on bottom */
	left: 0px;
	/* styling bellow */
	background-color: black;
	font-family: 'tahoma';
	font-size: 15px;
	color: white;
	opacity: 0.6; /* transparency */
	filter: alpha(opacity=60); /* IE transparency */
	width: 153px;
}
p.description_content{
	padding-top: 9px;
	padding-right: 9px;
	padding-left: 9px;
	padding-bottom: 9px;
	margin: 0px;
	text-decoration: none;
}




@media screen and (max-width:640px){
.inforight {
	position: absolute;
	clear: none;
	margin-top: 352px;
	left: 40%;
	width: 55%;
}
#Datepicker1 {
	position: absolute;
	left: 40%;
	clear: none;
	width: 46%;
	margin-top: 39px;
}
#insertform .inforight img {
	position: relative;
	float: right;
	left: -20%;




}
div #Datepicker1 #title {
	padding-left: 58px;
	color: #9E2527;
	position: absolute;
	left: -5%;
	margin-top: -30px;
}





}

@media screen and (max-width:360px){
.inforight {
	position: absolute;
	clear: none;
	margin-top: 136%;
	left: 18%;
	width: 66%;
}
#Datepicker1 {
	position: absolute;
	clear: none;
	float: none;
	margin-top: 57%;
	left: 12%;
}
div.ui-input-text {


}
#insertform .inforight img {
	float: right;
	padding-left: 26px;
	position: relative;
	left: -24%;




}
div #Datepicker1 #title {
	color: #9E2527;
	position: absolute;
	top: -12%;
	margin-left: -30px;
	width: 205px;
	margin-top: 9px;
}
#showPhoto {
	border: thin solid #000000;
	position: absolute;
	border-radius: 10px;

}
.wrapper {
	position: absolute;
	margin-top: 32px;
	left: 15%;
}
p.description_content {
	padding-top: 9px;
	padding-right: 9px;
	padding-left: 9px;
	padding-bottom: 9px;
	margin: 0px;
	text-decoration: none;
}
div.description {
	position: static;
	/* styling bellow */
	background-color: black;
	font-family: 'tahoma';
	font-size: 15px;
	color: white;
	opacity: 0.6; /* transparency */
	filter: alpha(opacity=60); /* IE transparency */
	width: 153px;
	margin-top: 109px;
	text-align: center;
	height: 36px;
}










}

@media screen and (max-width:320px){
#Datepicker1 {
	position: absolute;
	clear: none;
	float: none;
	margin-top: 67%;
	left: 6%;
}
.inforight {
	position: absolute;
	clear: none;
	margin-top: 158%;
	left: 18%;
	width: 72%;
	margin-left: -6px;
}



}
