<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "Eye Cares"
    versionCode = "10"
    version   = "1.0.7">

<name>Eye Cares</name>

<description>
we care about you.
</description>

<author href="facebook.com/Kurodz" email="graph@livemail.tw">
Aron Hsu
</author>


<icon src="ic_launcher.png" gap:platform="android" />
<gap:splash src="default.png" gap:platform="android" />




<access origin="*"/> <!-- allow all pages, use for development -->
<access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->


<gap:plugin name="org.apache.cordova.media" version="0.2.13" />
<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.5" />
<gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.1" />




<preference name="android-minSdkVersion" value="7" />


</widget>
